<app-header></app-header>

<ion-content [fullscreen]="true">

<ion-card>
  <button class="back"><ion-icon style="margin-left: -20px;" size="large" name="close-sharp" [routerLink]="['/hombre']"></ion-icon></button>
  <img alt="Silhouette of mountains" src="https://nikeclprod.vteximg.com.br/arquivos/ids/703893-1000-1000/408452_017_A_PREM.jpg?v=638181213190300000" />
  <ion-card-header>
    
    <ion-card-title>Air Jordan 4 Retro BG</ion-card-title>
    <ion-card-title>220.000 $</ion-card-title>
    <ion-card-subtitle>Eleva tu estilo y comodidad con nuestra zapatilla. Diseño moderno y confort excepcional para tus pasos audaces. ¡Consíguela ahora!</ion-card-subtitle>
  </ion-card-header>

  <form [formGroup]="elegirForm">
    <ion-list>
      <ion-item>
   
          <ion-select aria-label="fruit" placeholder="Seleccione talla" formControlName="select">
            <ion-select-option value="apples">10 US</ion-select-option>
            <ion-select-option value="oranges">9.5 US</ion-select-option>
            <ion-select-option value="bananas">9 US</ion-select-option>
            <ion-select-option value="bananas">8.5 US</ion-select-option>
            <ion-select-option value="bananas">8 US</ion-select-option>
          </ion-select>
        
      </ion-item>
      <div style="color: red; margin-left: 10px;"  *ngIf="elegirForm.get('select')?.hasError('required') && elegirForm.get('select')?.touched">
        Ingrese una talla
      </div>
    </ion-list>

    <ion-list>
      <ion-item>
   
          <ion-select aria-label="fruit" placeholder="Seleccione cantidad" formControlName="select1">
            <ion-select-option value="apples">1</ion-select-option>
            <ion-select-option value="oranges">2</ion-select-option>
            <ion-select-option value="bananas">3</ion-select-option>
            
          </ion-select>
        
      </ion-item>
      <div style="color: red; margin-left: 10px;"  *ngIf="elegirForm.get('select1')?.hasError('required') && elegirForm.get('select1')?.touched">
        Ingrese una cantidad
      </div>
      
      <ion-button expand="block" [disabled]="!elegirForm.valid">Comprar</ion-button>
      <ion-button expand="block">Añadir al carro</ion-button>
      
    </ion-list>
  </form>

  


  <ion-card-content>
    Here's a small text description for the card content. Nothing more, nothing less.
  </ion-card-content>
</ion-card>
<ion-footer  style="color: rgb(194, 129, 255); --background: rgb(34,0,67);" class="ion-text-center">
  <ion-toolbar  style="color: rgb(194, 129, 255); --background: rgb(34,0,67);">
    
    <p style="font-size: 15px; color: white;" class="footer-text">© 2023 Mi Empresa. Todos los derechos reservados.</p>
  </ion-toolbar>
</ion-footer>


</ion-content>