<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Menu Button</ion-title>
  </ion-toolbar>
</ion-header>

<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>BLOODSHOP</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button size="small">Iniciar Sesión <ion-icon name="person-outline"></ion-icon></ion-button>
        </ion-col>
        <ion-col>
          <ion-button size="small" [routerLink]="['/editarperfil']">Editar Perfil <ion-icon name="person-outline"></ion-icon></ion-button>
        </ion-col>
      </ion-row>
      
      <br>
      <ion-row>
        <ion-col>
          <ion-button expand="full" [routerLink]="['/hombre']">Hombre</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button expand="full" [routerLink]="['/mujer']">Mujer</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button expand="full" [routerLink]="['/ninos']">Niños</ion-button>
        </ion-col>
      </ion-row>

    </ion-grid>

  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
</div>



<ion-content [fullscreen]="true">
  
  <ion-card>
    <img alt="Silhouette of mountains" src="https://thn.pe/cdn/shop/files/banner-home-gamma-force-21082023.jpg?v=1692640908&width=3840" />
    <ion-card-header>
      <ion-card-title>Las mejores zapatillas a tu alcanze</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
    <ion-grid [fixed]="true">
      <ion-row>
        <ion-col><ion-card-content>
          <img alt="Silhouette of mountains" src="https://static.nike.com/a/images/t_default/7a095b1d-22b2-4ce4-960b-732b4cbef613/air-max-plus-zapatillas-5K87R3.png" />
          Zapatilla Nike Air Max Plus
       </ion-card-content>
     
       <ion-button fill="clear" [routerLink]="['/detailhombre1']" >Comprar</ion-button>
       <ion-button fill="clear">Añadir al carro</ion-button> </ion-col>
        <ion-col><ion-card-content>
          <img alt="Silhouette of mountains" src="https://static.nike.com/a/images/t_default/0f5256a3-de76-4696-89c2-e97a412c7957/air-force-1-07-zapatillas-VJhk3P.png" />
          Zapatilla Nike Airfoce 
       </ion-card-content>
     
       <ion-button fill="clear">Comprar</ion-button>
       <ion-button fill="clear">Añadir al carro</ion-button></ion-col>
        
      </ion-row>
      <ion-row>
        <ion-col><ion-card-content>
          <img alt="Silhouette of mountains" src="https://static.nike.com/a/images/t_default/0f5256a3-de76-4696-89c2-e97a412c7957/air-force-1-07-zapatillas-VJhk3P.png" />
          Zapatilla Nike Airfoce 
       </ion-card-content>
     
       <ion-button fill="clear">Comprar</ion-button>
       <ion-button fill="clear">Añadir al carro</ion-button> </ion-col>
        <ion-col><ion-card-content>
          <img alt="Silhouette of mountains" src="https://static.nike.com/a/images/t_default/0f5256a3-de76-4696-89c2-e97a412c7957/air-force-1-07-zapatillas-VJhk3P.png" />
          Zapatilla Nike Airfoce 
       </ion-card-content>
     
       <ion-button fill="clear">Comprar</ion-button>
       <ion-button fill="clear">Añadir al carro</ion-button></ion-col>
        
      </ion-row>
    </ion-grid>


    <ion-content class="ion-padding">
      <h1>Content</h1>
    </ion-content>
    <ion-footer class="ion-no-border">
      <ion-toolbar>
        <ion-title>Footer</ion-title>
      </ion-toolbar>
    </ion-footer>

  
</ion-content>
