<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <app-header></app-header>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <img alt="Silhouette of mountains"
      src="https://es.aw-lab.com/on/demandware.static/-/Library-Sites-awlab-content-global/default/dw31069217/2022/week24/SU22_NIKE_BLAZER_BRAND%20PAGE_BANNER_1440x500_V2.jpg" />
    <ion-card-header>
      <ion-card-title>Las mejores zapatillas a tu alcance</ion-card-title>
      <ion-card-subtitle>Nike Puma Adidas y Jordan </ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Nike Puma Adidas y Jordan</ion-card-title>
      <p> {{myDate | date}} </p>
      <ion-card-subtitle> </ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  <ion-grid [fixed]="true">
    <ion-row>
      <ion-col size="6" *ngFor="let zapatilla of zapatillas"> <!-- Dividir en 2 columnas (size="6") -->
        <ion-card>
          <ion-card-content>
            <img [src]="zapatilla.foto" />
            <p>{{ zapatilla.nombrezapatilla }}</p>
            <p>Precio: ${{ zapatilla.precio }}</p>
            <ion-button expand="full" size="small" [routerLink]="['/detailhombre1', zapatilla.id]">Comprar</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>



  <ion-footer  style="color: rgb(194, 129, 255); --background: rgb(34,0,67);" class="ion-text-center">
    <ion-toolbar  style="color: rgb(194, 129, 255); --background: rgb(34,0,67);">
      
      <p style="font-size: 15px; color: white;" class="footer-text">© 2023 Mi Empresa. Todos los derechos reservados.</p>
    </ion-toolbar>
  </ion-footer>

</ion-content>