.custom-alert {
    ion-alert {
        border-radius: 15px; // Ajusta el valor según tus preferencias
    }
}

.custom-button {
    color: #ffffff; // Texto blanco
    background-color: #007bff; // Fondo azul
}