

<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <app-header></app-header>
    </ion-toolbar>
  </ion-header>

  <ion-list *ngFor="let x of arregloZapatillas">
    <ion-item-sliding >      
      <ion-item>
        <ion-label>
          <p>ID: {{ x.id }}</p>
          <p>NOMBRE: {{ x.nombrezapatilla }}</p>
          <p>MARCA: {{ x.marca }}</p> <!-- Esto mostrará el ID de la marca. Puede necesitar otro arreglo para mostrar el nombre real de la marca -->
          <p>DESCRIPCION: {{ x.descripcion }}</p>
          <p>PRECIO: ${{ x.precio | number:'1.0-0' }}</p>
          <p>TALLAS: {{ x.tallas }}</p>
          <p>CANTIDAD: {{ x.cantidad }}</p>
          <img style="max-width: 250px;" [src]="x.foto" alt="Foto de la zapatilla">
        </ion-label>
      </ion-item>
  
      <ion-item-options>
        <ion-item-option (click)="modificar(x)">
          <ion-icon slot="bottom" name="pencil-sharp"></ion-icon>
          Modificar
        </ion-item-option >
        <ion-item-option color="danger" (click)="eliminar(x)">
          <ion-icon slot="bottom" name="trash"></ion-icon>
          Eliminar
        </ion-item-option>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/agregarzapatilla']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>