<app-header>
  <ion-menu-button></ion-menu-button>
</app-header>


<ion-content [fullscreen]="true">

  <ion-card>
    <button style="position: absolute; top: 10px; right: 10px;">
      <ion-icon size="large" name="close-sharp" [routerLink]="['/hombre']"></ion-icon>
    </button>
    <div class="ion-text-center">
    <img alt="Silhouette of mountains"
      src="https://static.nike.com/a/images/t_default/7a095b1d-22b2-4ce4-960b-732b4cbef613/air-max-plus-zapatillas-5K87R3.png" />
    </div>
      <ion-card-header>

      <ion-card-title>Nike Air Max Plus</ion-card-title>
      <ion-card-title>180.000 $</ion-card-title>
      <ion-card-subtitle>Eleva tu estilo y comodidad con nuestra zapatilla. Diseño moderno y confort excepcional para
        tus pasos audaces. ¡Consíguela ahora!</ion-card-subtitle>
    </ion-card-header>


    <form [formGroup]="elegirForm">
      <ion-list>
        <ion-item>
     
            <ion-select aria-label="fruit" placeholder="Seleccione talla" formControlName="select">
              <ion-select-option value="apples">10 US</ion-select-option>
              <ion-select-option value="oranges">9.5 US</ion-select-option>
              <ion-select-option value="bananas">9 US</ion-select-option>
              <ion-select-option value="bananas">8.5 US</ion-select-option>
              <ion-select-option value="bananas">8 US</ion-select-option>
            </ion-select>
          
        </ion-item>
        <div style="color: red; margin-left: 10px;"  *ngIf="elegirForm.get('select')?.hasError('required') && elegirForm.get('select')?.touched">
          Ingrese una talla
        </div>
      </ion-list>

      <ion-list>
        <ion-item>
     
            <ion-select aria-label="fruit" placeholder="Seleccione cantidad" formControlName="select1">
              <ion-select-option value="apples">1</ion-select-option>
              <ion-select-option value="oranges">2</ion-select-option>
              <ion-select-option value="bananas">3</ion-select-option>
              
            </ion-select>
          
        </ion-item>
        <div style="color: red; margin-left: 10px;"  *ngIf="elegirForm.get('select1')?.hasError('required') && elegirForm.get('select1')?.touched">
          Ingrese una cantidad
        </div>
        
        <ion-button expand="block" [disabled]="!elegirForm.valid">Comprar</ion-button>
        <ion-button expand="block">Añadir al carro</ion-button>
        
      </ion-list>
    </form>



    <ion-card-content>
      No te arrepentiras al comprar esta zapatilla !llevala ya¡
    </ion-card-content>
  </ion-card>
  <ion-footer>
    <ion-toolbar>
      <ion-toolbar>
        <ion-buttons slot="center"> <!-- Botones en la parte izquierda del toolbar -->
          <ion-button (click)="irASeccion1()">Sección 1</ion-button>
        </ion-buttons>
    
        <ion-buttons slot="end"> <!-- Botones en la parte derecha del toolbar -->
          <ion-button (click)="irASeccion2()">Sección 2</ion-button>
          <ion-button (click)="irASeccion3()">Sección 3</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-toolbar>
  </ion-footer>




</ion-content>