<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <app-header></app-header>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-content>
      <div class="ion-text-center">
      <h2>{{ zapatilla.nombrezapatilla }}</h2>
      </div>
      <img [src]="zapatilla.foto" />
      <p>{{ zapatilla.descripcion }}</p>
      <p>Precio: ${{ zapatilla.precio | number:'1.0-0'}}</p>
      <p>Stock disponible: {{ zapatilla.cantidad }}</p>
      
      <form [formGroup]="elegirForm">
        <ion-item>
          <ion-label>Talla:</ion-label>
          <ion-select formControlName="select">
            <ion-select-option *ngFor="let talla of tallas" [value]="talla">{{ talla }}</ion-select-option>
          </ion-select>
        </ion-item>
        <div style="color: red; margin-left: 10px;" *ngIf="elegirForm.get('select')?.hasError('required') && elegirForm.get('select')?.touched">
          Ingrese una talla
        </div>

        <ion-item>
          <ion-label>Cantidad:</ion-label>
          <ion-select formControlName="select1" [(ngModel)]="cantidadSeleccionada">
            <ion-select-option *ngFor="let i of cantidadOptions" [value]="i">{{ i }}</ion-select-option>
          </ion-select>
        </ion-item>
        <div style="color: red; margin-left: 10px;" *ngIf="elegirForm.get('select1')?.hasError('required') && elegirForm.get('select1')?.touched">
          Ingrese una cantidad
        </div>

        <ion-button [disabled]="!elegirForm.valid" expand="block" size="small" (click)="addToCart()">Añadir al carrito</ion-button>
        <ion-button [disabled]="!elegirForm.valid" expand="block" size="small" (click)="goToCart()">Comprar ahora</ion-button>
      </form>
    </ion-card-content>
  </ion-card>

  <ion-footer style="color: rgb(194, 129, 255); --background: rgb(34,0,67);" class="ion-text-center">
    <ion-toolbar  style="color: rgb(194, 129, 255); --background: rgb(34,0,67);">
      
      <p style="font-size: 15px; color: white;" class="footer-text">© 2023 Mi Empresa. Todos los derechos reservados.</p>
    </ion-toolbar>
  </ion-footer>



</ion-content>