<app-header></app-header>


<ion-content [fullscreen]="true">
  <ion-card>
    <div class="ion-text-center">
      <ion-col>
        <ion-button size="large" [routerLink]="['/hombre']">Página principal</ion-button>
      </ion-col>
    </div>
    <br>
    <div class="ion-text-center">
      <ion-col>
        <ion-button size="large" [routerLink]="['/agregarzapatilla']">Agregar Zapatilla</ion-button>
      </ion-col>
      <ion-col>
        <ion-button size="large" [routerLink]="['/adminhombre']">Modificar Zapatilla</ion-button>
      </ion-col>
      <ion-col>
        <ion-button size="large" [routerLink]="['/eliminarzapatilla']">Eliminar Zapatilla</ion-button>
      </ion-col>
    </div>



  </ion-card>


</ion-content>