<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <app-header></app-header>
    </ion-toolbar>
  </ion-header>
  
  <ion-card>
    <ion-card-content>
      <ion-card-title class="ion-text-center">PERFIL DE USUARIO</ion-card-title>
      <ion-list lines="full" *ngIf="usuario">
        <ion-item>
          <ion-label>Nombre:</ion-label>
          <ion-input readonly>{{ usuario.nombre }}</ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Apellido:</ion-label>
          <ion-input readonly>{{ usuario.apellido }}</ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Fecha de Nacimiento:</ion-label>
          <ion-input readonly>{{ usuario.fechanacimiento }}</ion-input>
        </ion-item>
        <ion-item>
          <ion-label>RUT:</ion-label>
          <ion-input readonly>{{ usuario.rut }}</ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Correo Electrónico:</ion-label>
          <ion-input readonly>{{ usuario.correo }}</ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Teléfono:</ion-label>
          <ion-input readonly>{{ usuario.telefono }}</ion-input>
        </ion-item>
      </ion-list>
      <div class="ion-text-center">
      <ion-button shape="round" size="default" [routerLink]="['/editarperfil']">Editar Perfil</ion-button>
    </div>
    </ion-card-content>
  </ion-card>

  
</ion-content>
