<ion-app>
  <ion-header id="main-content" [translucent]="true">
    <ion-toolbar style="color: rgb(194, 129, 255); --background: rgb(34,0,67);">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>BLOODSHOP</ion-title>
      <ion-buttons slot="end">
        <ion-button [routerLink]="['/carrito']">
          <ion-icon name="cart-outline"></ion-icon>
          <span>{{obtenerNumeroCarrito()}}</span>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-menu contentId="main-content">
    <ion-header style="color: rgb(34, 0, 67);">
      <ion-toolbar style="color: rgb(194, 129, 255); --background: rgb(34,0,67);">
        <ion-title>BLOODSHOP</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-row *ngIf="!estaLogueado()"> 
        <ion-col>
          <ion-menu-toggle>
            <ion-button expand="full" [routerLink]="['/home']">Iniciar Sesión <ion-icon
                name="person-outline"></ion-icon></ion-button>
          </ion-menu-toggle>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="estaLogueado()">
        <ion-col>
          <ion-menu-toggle>
            <ion-button expand="full" (click)="cerrarSesion()">Cerrar Sesión <ion-icon
                name="person-outline"></ion-icon></ion-button>
          </ion-menu-toggle>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="estaLogueado()">
        <ion-col>
          <ion-menu-toggle>
            <ion-button expand="full" (click)="editarPerfil()">Editar Perfil <ion-icon
                name="person-outline"></ion-icon></ion-button>
          </ion-menu-toggle>
        </ion-col>
      </ion-row>
      <br>
      <ion-row *ngIf="estaLogueado()">
        <ion-col>
          <ion-menu-toggle>
            <ion-button expand="full" [routerLink]="['/hombre']">Hombre</ion-button>
          </ion-menu-toggle>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="estaLogueado()">
        <ion-col>
          <ion-menu-toggle>
            <ion-button expand="full" [routerLink]="['/mujer']">Mujer</ion-button>
          </ion-menu-toggle>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="estaLogueado()">
        <ion-col>
          <ion-menu-toggle>
            <ion-button expand="full" [routerLink]="['/ninos']">Niños</ion-button>
          </ion-menu-toggle>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-menu-toggle auto-hide="false">
            <ion-button expand="full">Cerrar menú</ion-button>
          </ion-menu-toggle>
        </ion-col>
      </ion-row>
      <br>
      <br>
      <ion-row *ngIf="esAdministrador()">
        <ion-col>
          <ion-menu-toggle>
            <ion-button expand="full" [routerLink]="['/administrador']">Administrador</ion-button>
          </ion-menu-toggle>
        </ion-col>
      </ion-row>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>