<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <app-header></app-header>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-content>
      <ion-card-title class="ion-text-center">Editar Datos</ion-card-title>
      <ion-list lines="full" *ngIf="usuario">
        <ion-item>
          <ion-label position="stacked">Nombre</ion-label>
          <ion-input [(ngModel)]="usuario.nombre" name="nombre" type="text" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Apellido</ion-label>
          <ion-input [(ngModel)]="usuario.apellido" name="apellido" type="text" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Fecha de Nacimiento</ion-label>
          <ion-input [(ngModel)]="usuario.fechanacimiento" name="fechanacimiento" type="date" readonly>{{ usuario.fechanacimiento }}</ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">RUT</ion-label>
          <ion-input [(ngModel)]="usuario.rut" name="rut" type="text" readonly>{{usuario.rut}}</ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Correo Electrónico</ion-label>
          <ion-input [(ngModel)]="usuario.correo" name="correo" type="email" readonly>{{ usuario.correo }}</ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Teléfono</ion-label>
          <ion-input [(ngModel)]="usuario.telefono" name="telefono" type="tel"></ion-input>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-button expand="full" (click)="guardarCambios()">Guardar Cambios</ion-button>
</ion-content>