<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <app-header></app-header>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-content>
      <ion-card-title class="ion-text-center">EDITAR PERFIL</ion-card-title>
    <form [formGroup]="editarForm" (ngSubmit)="guardarCambios()">
      <ion-item>
        <ion-label position="floating">Nombre:</ion-label>
        <ion-input formControlName="nombre" type="text"></ion-input>
      </ion-item>
      <div style="color: red; margin-top: 3px;"
        *ngIf="editarForm.get('nombre')?.invalid && (editarForm.get('nombre')?.dirty || editarForm.get('nombre')?.touched)">
        <div *ngIf="editarForm.get('nombre')?.hasError('required')">El nombre es obligatorio.</div>
        <div *ngIf="editarForm.get('nombre')?.hasError('maxlength')">El nombre debe tener 10 caracteres máximo.</div>
        <div *ngIf="editarForm.get('nombre')?.hasError('minlength')">El nombre debe tener 3 caracteres minimo</div>
        <div *ngIf="editarForm.get('nombre')?.hasError('pattern')">El nombre no puede contener números</div>
      </div>

      <ion-item>
        <ion-label position="floating">Apellido:</ion-label>
        <ion-input formControlName="apellido" type="text"></ion-input>
      </ion-item>
      <div style="color: red; margin-top: 3px;"
        *ngIf="editarForm.get('apellido')?.invalid && (editarForm.get('apellido')?.dirty || editarForm.get('apellido')?.touched)">
        <div *ngIf="editarForm.get('apellido')?.hasError('required')">El apellido es obligatorio.</div>
        <div *ngIf="editarForm.get('apellido')?.hasError('maxlength')">El apellido debe tener 10 caracteres máximo.
        </div>
        <div *ngIf="editarForm.get('apellido')?.hasError('minlength')">El apellido debe tener 3 caracteres minimo</div>
        <div *ngIf="editarForm.get('apellido')?.hasError('pattern')">El nombre no puede contener números</div>
      </div>

      <ion-item>
        <ion-label position="floating">Fecha de Nacimiento:</ion-label>
        <ion-input formControlName="fechnac" type="text" readonly></ion-input>
      </ion-item>
      <div style="color: red; margin-top: 3px;"
        *ngIf="editarForm.get('fechnac')?.invalid && (editarForm.get('fechnac')?.dirty || editarForm.get('fechnac')?.touched)">
        <div *ngIf="editarForm.get('fechnac')?.hasError('required')">La fecha de nacimiento es obligatorio.</div>
        <div *ngIf="editarForm.get('fechnac')?.hasError('invalidDate')">La fecha de nacimiento no es valido.</div>
        <div *ngIf="editarForm.get('fechnac')?.hasError('over100')">Tienes más de 120 años.</div>
        <div *ngIf="editarForm.get('fechnac')?.hasError('futureDate')">La fecha de nacimiento no puede ser del futuro.
        </div>
        <div *ngIf="editarForm.get('fechnac')?.hasError('underage')">Debes ser mayor de 18 años</div>
      </div>

      <ion-item>
        <ion-label position="floating">RUT:</ion-label>
        <ion-input formControlName="rut" type="text"></ion-input>
      </ion-item>
      <div style="color: red; margin-top: 3px;"
        *ngIf="editarForm.get('rut')?.invalid && (editarForm.get('rut')?.dirty || editarForm.get('rut')?.touched)">
        <div *ngIf="editarForm.get('rut')?.hasError('required')">El RUT es obligatorio.</div>
        <div *ngIf="editarForm.get('rut')?.hasError('invalidRut')">El RUT es invalido.</div>
      </div>

      <ion-item>
        <ion-label position="floating">Correo:</ion-label>
        <ion-input formControlName="correo" type="email" readonly></ion-input>
      </ion-item>
      <div style="color: red; margin-top: 3px;"
        *ngIf="editarForm.get('correo')?.invalid && (editarForm.get('correo')?.dirty || editarForm.get('correo')?.touched)">
        <div *ngIf="editarForm.get('correo')?.hasError('required')">El correo es obligatorio.</div>
        <div *ngIf="editarForm.get('correo')?.hasError('pattern')">El correo no es valido.</div>
      </div>

      <ion-item>
        <ion-label position="floating">Teléfono:</ion-label>
        <ion-input formControlName="telefono" type="tel"></ion-input>
      </ion-item>
      <div style="color: red; margin-top: 3px;"
        *ngIf="editarForm.get('telefono')?.invalid && (editarForm.get('telefono')?.dirty || editarForm.get('telefono')?.touched)">
        <div *ngIf="editarForm.get('telefono')?.hasError('required')">El telefono es obligatorio.</div>
        <div *ngIf="editarForm.get('telefono')?.hasError('invalidPhoneNumber')">El telefono no es valido.</div>
      </div>
      <div class="ion-text-center">
        <ion-button shape="round" size="default" type="submit">Guardar Cambios</ion-button>
      </div>
    </form>
  </ion-card-content>
  </ion-card>
</ion-content>