<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Menu Button</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar placeholder="Buscar"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>BLOODSHOP</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button size="default" [routerLink]="['/home']">Iniciar Sesión</ion-button>
        </ion-col>
        <ion-col>
          <ion-button size="default" [routerLink]="['/editarperfil']">Editar Perfil</ion-button>
        </ion-col>
      </ion-row>
      
      <br>
      <ion-row>
        <ion-col>
          <ion-button expand="full" [routerLink]="['/hombre']">Hombre</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button expand="full" [routerLink]="['/mujer']">Mujer</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button expand="full" [routerLink]="['/ninos']">Niños</ion-button>
        </ion-col>
      </ion-row>

    </ion-grid>

  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
</div>



<ion-content [fullscreen]="true">
  
  <ion-card>
    <img alt="Silhouette of mountains" src="https://thn.pe/cdn/shop/files/banner-home-gamma-force-21082023.jpg?v=1692640908&width=3840" />
    <ion-card-header>
      <ion-card-title>Las mejores zapatillas a tu alcanze</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
    <ion-grid [fixed]="true">
      <ion-row>
        <ion-col><ion-card-content>
          <img alt="Silhouette of mountains" src="https://nikeclprod.vteximg.com.br/arquivos/ids/662992-1000-1000/FD1448_664_A_PREM.jpg?v=638108646069600000" />
          Nike Air Force 1 '07
       </ion-card-content>
     
       <ion-button fill="clear" [routerLink]="['/detailmujer1']" >Comprar</ion-button>
       <ion-button fill="clear">Añadir al carro</ion-button> </ion-col>
        <ion-col><ion-card-content>
          <img alt="Silhouette of mountains" src="https://www.blockstore.cl/cdn/shop/products/p-38767208-11_400x400_crop_center.jpg?v=1669639141" />
           Puma Rider Fv Future
       </ion-card-content>
     
       <ion-button fill="clear" [routerLink]="['/detailmujer2']">Comprar</ion-button>
       <ion-button fill="clear">Añadir al carro</ion-button></ion-col>
        
      </ion-row>
      <ion-row>
        <ion-col><ion-card-content>
          <img alt="Silhouette of mountains" src="https://www.realkicks.cl/cdn/shop/products/p-GW4417-2_400x400_crop_center.jpg?v=1680734689" />
          ADIDAS RACER TR21 
       </ion-card-content>
     
       <ion-button fill="clear" [routerLink]="['/detailmujer3']">Comprar</ion-button>
       <ion-button fill="clear">Añadir al carro</ion-button> </ion-col>
        <ion-col><ion-card-content>
          <img alt="Silhouette of mountains" src="https://falabella.scene7.com/is/image/Falabella/50106347_1" />
          Nike Air max intrlk  
       </ion-card-content>
     
       <ion-button fill="clear" [routerLink]="['/detailmujer4']">Comprar</ion-button>
       <ion-button fill="clear">Añadir al carro</ion-button></ion-col>
        
      </ion-row>
    </ion-grid>


    <ion-content class="ion-padding">
      <h1>Content</h1>
    </ion-content>
    <ion-footer class="ion-no-border">
      <ion-toolbar>
        <ion-title>Footer</ion-title>
      </ion-toolbar>
    </ion-footer>

  
</ion-content>
