<app-header></app-header>


<ion-content [fullscreen]="true">
  
  <ion-card>
    <img alt="Silhouette of mountains" src="https://thn.pe/cdn/shop/files/banner-home-gamma-force-21082023.jpg?v=1692640908&width=3840" />
    <ion-card-header>
      <ion-card-title>Las mejores zapatillas a tu alcance</ion-card-title>
      <ion-card-subtitle>Nike Puma Adidas y Jordan</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
    <ion-grid [fixed]="true">
      <ion-row>
        <ion-col><ion-card-content>
          <img alt="Silhouette of mountains" src="https://nikeclprod.vteximg.com.br/arquivos/ids/662992-1000-1000/FD1448_664_A_PREM.jpg?v=638108646069600000" />
          Nike Air Force 1 '07
       </ion-card-content>
     
       <ion-button  [routerLink]="['/detailmujer1']" >Comprar</ion-button>
       <ion-button >Añadir al carro</ion-button> </ion-col>
        <ion-col><ion-card-content>
          <img alt="Silhouette of mountains" src="https://www.blockstore.cl/cdn/shop/products/p-38767208-11_400x400_crop_center.jpg?v=1669639141" />
           Puma Rider Fv Future
       </ion-card-content>
     
       <ion-button  [routerLink]="['/detailmujer2']">Comprar</ion-button>
       <ion-button >Añadir al carro</ion-button></ion-col>
        
      </ion-row>
      <ion-row>
        <ion-col><ion-card-content>
          <img alt="Silhouette of mountains" src="https://www.realkicks.cl/cdn/shop/products/p-GW4417-2_400x400_crop_center.jpg?v=1680734689" />
          ADIDAS RACER TR21 
       </ion-card-content>
     
       <ion-button  [routerLink]="['/detailmujer3']">Comprar</ion-button>
       <ion-button >Añadir al carro</ion-button> </ion-col>
        <ion-col><ion-card-content>
          <img alt="Silhouette of mountains" src="https://falabella.scene7.com/is/image/Falabella/50106347_1" />
          Nike Air max intrlk  
       </ion-card-content>
     
       <ion-button  [routerLink]="['/detailmujer4']">Comprar</ion-button>
       <ion-button >Añadir al carro</ion-button></ion-col>
        
      </ion-row>
    </ion-grid>


    <ion-footer>
      <ion-toolbar>
        <p> {{myDate | date}} </p>
        <p class="footer-text">© 2023 Mi Empresa. Todos los derechos reservados.</p>
      </ion-toolbar>
    </ion-footer>

  
</ion-content>
