<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Menu Button</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar placeholder="Buscar"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-menu contentId="main-content">
  <ion-header>
    
    <ion-toolbar>
      <ion-title>BLOODSHOP</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button size="default" [routerLink]="['/home']">Iniciar Sesión</ion-button>
        </ion-col>
        <ion-col>
          <ion-button size="default" [routerLink]="['/editarperfil']">Editar Perfil</ion-button>
        </ion-col>
      </ion-row>
      
      <br>
      <ion-row>
        <ion-col>
          <ion-button expand="full" [routerLink]="['/hombre']">Hombre</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button expand="full" [routerLink]="['/mujer']">Mujer</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button expand="full" [routerLink]="['/ninos']">Niños</ion-button>
        </ion-col>
      </ion-row>

    </ion-grid>

  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
</div>



<ion-content [fullscreen]="true">
  
  <ion-card>
    <img alt="Silhouette of mountains" src="https://thn.pe/cdn/shop/files/banner-home-gamma-force-21082023.jpg?v=1692640908&width=3840" />
    <ion-card-header>
      <ion-card-title>Las mejores zapatillas a tu alcanze</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
    <ion-grid [fixed]="true">
      <ion-row>
        <ion-col><ion-card-content>
          <img alt="Silhouette of mountains" src="https://static.nike.com/a/images/t_default/5e0663f2-b857-4aa1-aeeb-e879e49b4374/air-max-dawn-zapatillas-nino-a-HDmpVh.png" />
          Nike Air Max Dawn
       </ion-card-content>
     
       <ion-button fill="clear" [routerLink]="['/detailninos1']" >Comprar</ion-button>
       <ion-button fill="clear">Añadir al carro</ion-button> </ion-col>
        <ion-col><ion-card-content>
          <img alt="Silhouette of mountains" src="https://falabella.scene7.com/is/image/Falabella/50182539_1" />
          Zapatilla urbana niño 
       </ion-card-content>
     
       <ion-button fill="clear" [routerLink]="['/detailninos2']">Comprar</ion-button>
       <ion-button fill="clear">Añadir al carro</ion-button></ion-col>
        
      </ion-row>
      <ion-row>
        <ion-col><ion-card-content>
          <img alt="Silhouette of mountains" src="https://falabella.scene7.com/is/image/Falabella/8400566_1" />
          Kids Runner Ac Inf 
       </ion-card-content>
     
       <ion-button fill="clear" [routerLink]="['/detailninos3']">Comprar</ion-button>
       <ion-button fill="clear">Añadir al carro</ion-button> </ion-col>
        <ion-col><ion-card-content>
          <img alt="Silhouette of mountains" src="https://static.nike.com/a/images/t_default/i1-0c0f90d4-1f58-4d46-bc52-1fd27558ef25/court-borough-low-2-zapatillas-nino-a-bD8Czp.png" />
          Puma Roma Basic  
       </ion-card-content>
     
       <ion-button fill="clear" [routerLink]="['/detailninos4']">Comprar</ion-button>
       <ion-button fill="clear">Añadir al carro</ion-button></ion-col>
        
      </ion-row>
    </ion-grid>


    <ion-content class="ion-padding">
      <h1>Content</h1>
    </ion-content>
    <ion-footer class="ion-no-border">
      <ion-toolbar>
        <ion-title>Footer</ion-title>
      </ion-toolbar>
    </ion-footer>

  
</ion-content>
