

<ion-content [fullscreen]="true"> 
  
  <ion-card>
    <img alt="Silhouette of mountains" src="https://es.aw-lab.com/on/demandware.static/-/Library-Sites-awlab-content-global/default/dw31069217/2022/week24/SU22_NIKE_BLAZER_BRAND%20PAGE_BANNER_1440x500_V2.jpg" />
    <ion-card-header>
      <ion-card-title>Las mejores zapatillas a tu alcanze</ion-card-title>
      <ion-card-subtitle>Nike Puma Adidas y Jordan</ion-card-subtitle>
    </ion-card-header>
  
   
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Nike Puma Adidas y Jordan</ion-card-title>
      <ion-card-subtitle> </ion-card-subtitle>
    </ion-card-header>
  </ion-card>
    <ion-grid [fixed]="true">
      <ion-row>
        <ion-col><ion-card-content>
          <img alt="Silhouette of mountains" src="https://static.nike.com/a/images/t_default/7a095b1d-22b2-4ce4-960b-732b4cbef613/air-max-plus-zapatillas-5K87R3.png" />
          Zapatilla Nike Air Max Plus
       </ion-card-content>
     
       <ion-button fill="clear" [routerLink]="['/detailhombre1']" >Comprar</ion-button>
       <ion-button fill="clear">MODIFICAR</ion-button> </ion-col>

       
        <ion-col><ion-card-content>
          <img alt="Silhouette of mountains" src="https://www.blockstore.cl/cdn/shop/products/p-HQ6432-1_400x400_crop_center.jpg?v=1681845093" />
          Zapatillas Adidas Adi Ease
       </ion-card-content>
     
       <ion-button fill="clear" [routerLink]="['/detailhombre2']">Comprar</ion-button>
       <ion-button fill="clear">MODIFICAR</ion-button></ion-col>
        
      </ion-row>
      <ion-row>
        <ion-col><ion-card-content>
          <img alt="Silhouette of mountains" src="https://nikeclprod.vteximg.com.br/arquivos/ids/703893-1000-1000/408452_017_A_PREM.jpg?v=638181213190300000" />
          Air Jordan 4 Retro BG 
       </ion-card-content>
     
       <ion-button fill="clear" [routerLink]="['/detailhombre3']">Comprar</ion-button>
       <ion-button fill="clear">MODIFICAR</ion-button> </ion-col>
        <ion-col><ion-card-content>
          <img alt="Silhouette of mountains" src="https://www.puma-mexico.com.mx/images/puma-mexico/Tenis_Puma_Roma_Basic_Summer_JR_Ni%C3%B1a_Neg-AJX958617.jpg" />
          Puma Roma Basic  
       </ion-card-content>
     
       <ion-button fill="clear" [routerLink]="['/detailhombre4']">Comprar</ion-button>
       <ion-button fill="clear">MODIFICAR</ion-button></ion-col>
        
      </ion-row>
    </ion-grid>


    
    <ion-footer>
      <ion-toolbar>
        <p class="footer-text">© 2023 Mi Empresa. Todos los derechos reservados.</p>
      </ion-toolbar>
    </ion-footer>
  
</ion-content>
